<!DOCTYPE html>
<html>
<!-- head -->

  <head>
    <title> MApp</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="/styles/map_styles.css" />
    <link rel="stylesheet" type="text/css" href="/styles/map_container.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous">
    </script>

    <script>
      var markers = atob('<%- new Buffer(JSON.stringify(markers)).toString("base64") %>');
      markers = JSON.parse(markers);
      var maps = atob('<%- new Buffer(JSON.stringify(maps)).toString("base64") %>');
      maps = JSON.parse(maps);
      var currentMap = atob('<%- new Buffer(JSON.stringify(map)).toString("base64") %>');
      currentMap = JSON.parse(currentMap);
    </script>
    <script src="/scripts/map.js"></script>
    <script src="/scripts/app.js"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByNXPUlKpqtaXERvqo6fUBzbblOfDYx3A&libraries=places&callback=initMap" defer></script>






  </head>

    <body>
    <div class="body">

<!--Header start -->
      <div class="header" >
      <header id = "main-header">
          <h1> MApp</h1>
      </header>
      </div>

<!-- Header end-->

<!-- search bar start -->

    <div class="search">
      <form id = "search" action="" method="post">
        <input id= "autocomplete" class="search_inp"  type = "text" placeholder= " Search for location " >
        <button id="GoBtn">Go</button>
      </form>
    </div>

<!-- search bar end-->

    <div class="container">

    <!-- Add List-->
    <div class = "con_list">
      <h1 id="usermaps">User Maps</h1>
      <tbody class="title_list">
        <tr>
<<<<<<< HEAD
         <% for(let id in maps) { %>
          <td><p><a href = '/map/:<%= maps[id] %>'> <%= maps[id].title %></a> <i class=" heart far fa-heart"></i></p></td>
=======
        <td> <% for(let id in maps) { %>
          <p><a href = '/map/<%= user_id %>/<%= maps[id].id %>'> <%= maps[id].title %></a></p>
>>>>>>> 93e2c6ee8a0b69deebf61a283011aa6719e65095
        <% } %>
      </tr>
      </tbody>
    </div>

    <!--viewe map-->

    <div class = "con_map">
      <h1> <%= map.title %> <h1>
      <div id="map">

      </div>
    </div>

    <!--Add Marker start-->
    <div class="con_marker">
      <div >
        <h1>Add Marker</h1>
        <form action="/map/<%= map.id %>" method="post" id="addmarker">
          <input type="text" id="marker_title" name="title" placeholder="Title">
          <div class="coordinates">
            <input type="text" id="marker_latitude" name="latitude" placeholder="latitude" value ="">
            <input type="text" id="marker_longitude" name="longitude" placeholder ="longitude" value ="">
            <div class="url">
              <input type="text" id="marker_url" name="img_url" placeholder ="url">
              <div class="Description">
                <input type="text" id="marker_description" name="description" placeholder="Description">
                <div class="button">
                  <input type="submit" value="Add" id= "marker_button">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div>
      <form action="/map/<%= user_id %>/<%= map.id %>/delete" method="POST" id="delete_map">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">DELETE MApp</button>
      </form>
    </div>

    <!-- Add Marker end-->

  </div>
</body>
  </div>
</html>
