<!DOCTYPE html>
<html>
<!-- head -->

  <head>
    <title> MApp</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="/styles/map_styles.css" />
    <link rel="stylesheet" type="text/css" href="/styles/map_container.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous">
    </script>
    <script>
      var markers = '<%- JSON.stringify(markers) %>';
      markers = JSON.parse(markers);
      var maps = '<%- JSON.stringify(maps) %>';
      maps = JSON.parse(maps);
      var currentMap = '<%- JSON.stringify(map) %>';
      currentMap = JSON.parse(currentMap);
    </script>
    <script src="/scripts/map.js"></script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALTeWTvvDs3k_NqRCYuS6U33HxBD4IIuM&callback=initMap&v=weekly"
    async
    ></script>
    <script src="/scripts/app.js"></script>
  </head>

    <body>
    <div class="body">

<!--Header start -->
      <div class="header" >
      <header id = "main-header">
          <h1> MApp</h1>
      </header>
      </div>

<!-- Header end-->

<!-- search bar start -->

    <div class="search">
      <form id = "search" action="" method="post">
        <input id= "search_inp" type = "text" placeholder= " Search for location " >
        <button id="GoBtn">Go</button>
      </form>
    </div>

<!-- search bar end-->

    <div class="container">

    <!-- Add List-->
    <div class = "con_list">
      <h1 id="usermaps">User Maps</h1>
      <tbody class="title_list">
        <tr>
        <td> <% for(let id in maps) { %>
          <p><a href = '/map/:<%= maps[id] %>'> <%= maps[id].title %></a></p>
        <% } %>
      </td>
      </tr>
      </tbody>
    </div>

    <!--viewe map-->

    <div class = "con_map">
      <div id="map">
      <h1> MApp<h1>

      </div>
    </div>

    <!--Add Marker start-->
      <div class="con_marker">
        <div >
          <h1>Add Marker</h1>
          <form action="/map/<%= map.id %>" method="post" id="addmarker">
            <input type="text" id="marker_title" name="title" placeholder="Title">
            <div class="coordinates">
            <input type="text" id="marker_latitude" name="latitude" placeholder="latitude" value ="">
            <input type="text" id="marker_longitude" name="longitude" placeholder ="longitude" value ="">
            <div class="url">
            <input type="text" id="marker_url" name="img_url" placeholder ="url">
            <div class="Description">
            <input type="text" id="marker_description" name="description" placeholder="Description">
            <div class="button">
            <input type="submit" value="Add" id= "marker_button">
            </div>
          </div>
          </div>
          </div>
          </div>
        </form>
      </div>

    <!-- Add Marker end-->

      </div>
    </body>
  </div>
</html>
