<!DOCTYPE html>
<html>
<!-- head -->

  <head>
    <title> MApp</title>
    <link rel ="stylesheet" type="text/css" href ="style.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="/styles/map_styles.css" />
    <link rel="stylesheet" type="text/css" href="/styles/map_container.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous">
    </script>
    <script>
      var maps = atob('<%- new Buffer(JSON.stringify(mapsList)).toString("base64") %>');
      maps = JSON.parse(maps);
    </script>
    <script src="/scripts/map.js"></script>

    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByNXPUlKpqtaXERvqo6fUBzbblOfDYx3A&libraries=places&callback=initMap" defer></script>
  </head>

    <body>
    <div class="body">

<!--Header start -->
      <div class="header" >
      <header id = "main-header">
          <h1> MApp</h1>
      </header>
      </div>

<!-- Header end-->

<!-- search bar start -->

    <div class="search">
      <form id = "search" action="" method="post">
        <input id= "search_inp" type = "text" placeholder= " Search for location " >
        <button id="GoBtn">Go</button>
      </form>
    </div>

<!-- search bar end-->

    <div class="container">

    <!-- Add List-->
    <div class = "con_list">
      <h1 id="usermaps">User Maps</h1>
      <tbody class="title_list">
        <tr>
        <td> <% for(let map in mapsList) { %>
          <p><a href = '/map/<%= user_id %>/<%= mapsList[map].id %>'> <%= mapsList[map].title %></a></p>
        <% } %>
      </td>
      </tr>
      </tbody>
    </div>

    <!--viewe map-->

    <div class = "con_map">
      <div id="map">
      <h1> MApp<h1>
      </div>
    </div>

    <!--Add Map-->
      <div class="con_Addmap">
          <div class="creat_map_button">
            <input type="submit" value="Create Map" id="map_button">
            <form action="/maps/<%= user_id %>" method="post" id="addmap">
              <input type="text" id="map_title" name="title" placeholder="Title">
              <div class="coordinates">
                <input type="text" id="map_latitude" name="latitude" placeholder="latitude" >
                <input type="text" id="map_longitude" name="longitude" placeholder ="longitude">
              </div>
              <div class="button">
                <input type="submit" value="Create" id = "create">
              </div>
            </form>
          </div>
        </div>

      </div>

    <!-- Add Map-->

      </div>
      <script>
        function myFunction(x) {
          x.classList.toggle("far");
          x.classList.toggle("fas");
          return;
        }
      </script>
    </body>
</html>
